{%- assign dirs = include.dirs | default: "" -%}

	{%- for page in include.paths -%}
		{%- if page.path contains include.level -%}
			{%- assign pat = page.path | remove_first: include.level -%}
			{%- assign new_dir = pat | split: "/" | first | append: "/" -%}
			{%- assign new_level = include.level | append: new_dir %}
			{%- assign dirs_array = dirs | split: "," -%}
			{%- assign dirs_array_uniq = dirs | append: new_level | split: "," | uniq -%}
			{%- assign pre_folder = new_level | remove: pat | prepend: "/"  -%}
			{% comment %}{{#  pre_folder | split: "/" | last | append: ".html" | prepend: pre_folder }}{% endcomment %}
			{%- assign selector = pre_folder | split: "/" | last | append: ".html" | prepend: pre_folder -%}
			{%- assign selector_rel = site.baseurl | append: selector -%}
			{%- assign folder = include.paths | where: "url", selector -%}
			{%- for link in include.paths -%}
				Folders: {{ link.url }}
			{%- endfor -%}
			Folder: {{ folder }} 
			{%- unless dirs_array == dirs_array_uniq -%}
				{
					{%- if pat contains "/" -%}
						text: "{{ folder.title }}",
						href: "{{ selector_rel }}",
						nodes: [
							{%- assign dirs = dirs | append: new_level | append: "," -%}
							{%- include hirarchical-navigation.html paths=include.paths level=new_level dirs=dirs -%}
						],
					{%- else -%}
						text: "{{- page.title -}}",
						href: "{{- site.baseurl -}}{{- page.url -}}",
						nodes: [],
					{%- endif -%}
						expanded: true
				},
			{%- endunless -%}
		{%- endif -%}
	{%- endfor -%}

