<link href="assets/css/bstreeview.min.css" rel="stylesheet">
<script src="assets/js/bstreeview.min.js"></script>

<script>
	var path_tree = [
		{%- assign paths = site.html_pages -%}
		{%- include hirarchical-navigation.html paths=include.paths level=include.level -%}
	]
</script>

<div id="tree" class="shadow"></div>
<script>
	var tree = [
  {
    text: "Node 1",
    href:  "https://google.com",
    expanded: true,
    nodes: [
      {
        text: "Sub Node 1",
        nodes: [
          {
            text:  "Sub Child Node 1",
            href:  "https://google.com"
          },
          {
            text: "Sub Child Node 2"
          }
        ]
      },
      {
        text: "Sub Node 2"
      }
    ]
  },
  {
    text: "Node 2"
  },
  {
    text: "Node 3"
  },
  {
    text: "Node 4"
  },
  {
    text: "Node 5"
  }
];

	$('#tree').bstreeview({
		data: path_tree,
		openNodeLinkOnNewTab: false
	});
</script>
